body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e0e0e0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.fs-24 {
  font-size: 24px;
}

.fs-20 {
  font-size: 16px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  width: 70%;
  text-align: center;
}

@media (min-width: 768px) {
  .container {
    width: 50%;
  }
}

* {
  margin: 0;
  padding: 0;
}

.loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

ul {
  list-style: none;
}
